<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">Magnato</a>
    </div>
    <ul class="nav">
      <li>
        <button class="btn" routerLink="/home">Home</button>
      </li>
      <li>
        <button class="btn" routerLink="/user-list">List Users</button>
      </li>
      <li>
        <button class="btn" routerLink="/user-create">Create User</button>
      </li>
      <li>
        <button class="btn" routerLink="/login">Logout</button>
      </li>
    </ul>
  </div>
</nav>
