.container {
  background-color: #16b6fc;
  min-height: 80vh;
  margin: 20px auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 40px;
}

.smaller-white {
  background-color: #fafbfc;
  width: 50%;
  height: 80%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 5%;
}

.form-group {
  padding: 5px;
}

#create-user {
  background-color: #16b6fc;
  color: #fafbfc;
  font-weight: bolder;
}
