<div class="container">
  <div class="smaller-white">
    <div class="image-container">
      <img
        src="/assets/img/logo3.png"
        class="rounded-circle img-fluid"
        alt="any_icon"
      />
    </div>
    <div class="input-container">
      <form class="form-group">
        <input
          type="text"
          placeholder="First name"
          class="form-control form-control-lg"
        />
        <input
          type="text"
          placeholder="Last name"
          class="form-control form-control-lg"
        />
        <input
          type="email"
          placeholder="Email"
          class="form-control form-control-lg"
        />

        <input
          type="password"
          placeholder="Enter your password"
          class="form-control form-control-lg"
        />
        <button
          type="button"
          id="sign-in"
          class="btn form-control-lg btn-block form-control"
        >
          CREATE ACCOUNT
        </button>
      </form>
      <p class="text-right"><small>Need Help?</small></p>
      <p id="no-account">have an account yet?</p>
      <a routerLink="/login" id="create-account">Sign In</a>
    </div>
  </div>
</div>
